/- @panel_col_class ||= 'col-md-6 col-md-offset-3'

- content_for :panel_heading do
  strong Edit profile

- content_for :panel_body do
  ul.nav.nav-tabs#editTab[role='tablist']
    li.active
      a[href='#avatar' data-target="#avatar" data-toggle="tab"]
        | Avatar
    li
      a[href='#profile' data-target="#profile" data-toggle="tab"]
        | Profile
    li
      a[href='#delete' data-target="#delete" data-toggle="tab"]
        | Delete account
  div.tab-content#editTabContent
    .tab-pane.fade.active.in#avatar
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        h3 Change avatar
        = devise_error_messages!
        = f.hidden_field :email
        .form-group
          = f.label :avatar, style: 'display: block;' do
            - if current_user.avatar.url.present?
              = image_tag(current_user.avatar.url, class: 'center-block thumbnail')
          .input-group.image-preview
            input.form-control.image-preview-filename[type="text" disabled]
            span.input-group-btn
              button.btn.btn-default.image-preview-clear[type="button" style="display:none;"]
                span.glyphicon.glyphicon-remove
                | Clear
              .btn.btn-default.image-preview-input
                span.glyphicon.glyphicon-folder-open
                span.image-preview-input-title Browse
                = f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg'
                = f.hidden_field :avatar_cache

          - if current_user.avatar.file
            .form-group
              .checkbox
                = f.label :remove_avatar
                  = f.check_box :remove_avatar
                  | Remove avatar

        .form-group
          = f.submit 'Update', class: 'btn btn-lg btn-primary btn-block'

    .tab-pane.fade#profile
      h3 Edit profile
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .form-group
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-envelope
            = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email address'
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            i
              ' Currently waiting confirmation for:
              = resource.unconfirmed_email

        .form-group
          .input-group.password-new[data-toggle="tooltip" data-placement="top" data-title="leave blank if you don't want to change it"]
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password confirmation'

        .form-group
          .input-group[data-toggle="tooltip" data-placement="top" data-title="we need your current password to confirm your changes"]
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            = f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current password'

        .form-group
          = f.submit 'Update', class: 'btn btn-lg btn-primary btn-block'

    .tab-pane.fade#delete
      h3 Delete account
      p Unhappy?
      = button_to "Delete my account", registration_path(resource_name), class: 'btn btn-lg btn-danger btn-block',
                    data: { confirm: "Are you sure?" }, method: :delete

- content_for :panel_footer do
  = link_to "Back", :back
