- content_for :panel_heading do
  strong Sign up

- content_for :panel_body do
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-signin'}) do |f|
    fieldset
      .row
        .col-sm-12.col-sm-offset-0.col-md-10.col-md-offset-1.col-lg-12.col-lg-offset-0
          = devise_error_messages!
          .form-group
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-envelope
              = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email address'
          .form-group
            .input-group.password-new
              span.input-group-addon
                i.glyphicon.glyphicon-lock
              = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
              = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password confirmation'
            - if @validatable
                i
                  = "(#{@minimum_password_length} characters minimum)"
          .form-group
              .input-group.recaptcha-container
                = recaptcha_tags display: { theme: 'white' }
          .form-group
            = f.submit 'Register', class: 'btn btn-lg btn-primary btn-block'

- content_for :panel_footer do
  = render 'devise/shared/links'
