.pull-left
  .avatar
    = image_tag user.avatar.url if user.avatar.url.present?
.pull-left
  h3
    = user.email
    '
    = render partial: 'subscriptions/button', locals: {user: user}
  p
    = link_to subscribers_user_path(user), remote: true,
              data: {toggle: 'popover', placement: 'right', html: true },
              class: 'dotted', id: 'subscribers' do
      span.label.label-default[id="s#{user.id}-count"]
        = user.subscribers.count
      '
      span
        | Subscribers
  p
    = link_to subscriptions_user_path(user), remote: true,
              data: {toggle: 'popover', placement: 'right', html: true },
              class: 'dotted', id: 'subscriptions' do
      span.label.label-default
        = user.subscribed_to.count
      '
      span
        | Subscriptions
.clearfix