h1 Users
- @users.each do |user|
  h4
    = link_to user do
      = image_tag user.avatar.thumb.url, class: 'img-rounded' if user.avatar.thumb.url.present?
      '
      = user.email
    '
    = render partial: 'subscriptions/button', locals: {user: user}
.center
  == paginate @users
