== render 'users/user_card', user: @user
- if @post
  #post-form
    == render partial: 'posts/form'
#posts
  == render @posts

- if @show_more
  .center
    = link_to 'Show more', url_for(last: @posts.last.id), remote: true, data: {disable_with: 'Loading...'},
              id: 'show-more', class: 'btn btn-lg btn-primary'
