<% if @posts.any? -%>
$("<%= escape_javascript(render @posts) %>").appendTo("#posts");
<% end %>

<% if @show_more -%>
$("#show-more").attr("href", "<%= url_for(last: @posts.last.id) %>");
<% else -%>
$("#show-more").remove();
<% end %>