#switter
  = image_tag 'switter.png'
  .clearfix
  .links
    h1 simple #{link_to 'twitter', 'https://www.twitter.com'} clone
    br
    = link_to 'Join now!', new_user_registration_path, class: 'btn btn-lg btn-primary btn-block'