- if user_signed_in?
  - if user and user != current_user
    span[id="s#{user.id}-button"]
      - if current_user.subscribed_to?(user)
        = render 'subscriptions/unsubscribe_link', user: user
      - else
        = render 'subscriptions/subscribe_link', user: user