- content_for :panel_heading do
  strong Sign in to continue

- content_for :panel_body do
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    fieldset
      .row
        .col-sm-12.col-md-10.col-md-offset-1
          .form-group
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-envelope
              = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email address'
          .form-group
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-lock
              = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
          - if devise_mapping.rememberable?
            .form-group
              .checkbox
                = f.label :remember_me
                  = f.check_box :remember_me
                  | Remember me

          .form-group
            = f.submit 'Sign in', class: 'btn btn-lg btn-primary btn-block'

- content_for :panel_footer do
  = render 'devise/shared/links'