h1 New post
= form_for @post, remote: true do |f|
  - if @post.errors.any?
    #error_explanation
      h2
        = pluralize(@post.errors.count, 'error')
        |  prohibited this article from being saved:
      ul
        - @post.errors.full_messages.each do |msg|
          li
            = msg
  .form-group
    = f.label :text
    '
    i
      | (
      span#counter
        | 140
      | )
    = f.text_area :text, class: 'form-control', id: 'post-input'
  .form-group
    = f.submit class: 'btn btn-lg btn-primary', id: 'post-submit', disabled: true
