- unless post.new_record?
  div[id="p#{post.id}"]
    div
      span.glyphicon.glyphicon-user
      i
        - if post.user == current_user
          | You
        - else
          = link_to post.user.email, post.user
        | :
      - if post.user == current_user
        .delete-post.pull-right[data-toggle="tooltip" data-placement="top" data-title="Delete this post"]
          = link_to post_path(post), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do
            span.glyphicon.glyphicon-remove

      i.pull-right[data-toggle="tooltip" data-placement="top" data-title="#{post.created_at}"]
        = "#{time_ago_in_words(post.created_at)} ago"
    .well
      = post.text