<% if @post.errors.any? -%>
<%= render :partial => 'layouts/errors', locals: {errors: @post.errors.full_messages} -%>
<% else -%>
$("<%= escape_javascript(render @post) %>").prependTo("#posts");
$('#post-form form')[0].reset();
<% end %>