
a.navbar-brand {
  padding: 10px 15px;
  img {
    height: 32px;
  }
}

#navbar-profile a {
  $padding: 9px;

  padding-bottom: $padding;
  padding-top: $padding;

  img {
    max-height: 32px;
    margin-right: $padding;
  }
}
