body.body-index {
  $text-color: #ddd;

  background-image: asset-url('background.png');

  #switter {
    position: absolute;
    top: 72px;
    left: 0px;
    max-width: 100%;
    overflow: hidden;

    .links {
      padding: 20px;
      text-align: center;

      h1 {
        color: $text-color;
        font-weight: bold;
      }

      a {
        color: $text-color;
        font-weight: bold;
      }

      .btn {
        border-width: 4px;
        border-color: $text-color;
        font-size: 30px;
      }
    }
  }

  #messages {
    position: relative;
    z-index: 5;
  }
}