// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delete-post {
  margin-left: 5px;
  font-size: 16px;
  a {
    color: #d9534f;
  }
}

.center {
  text-align: center;
}