.clearfix
i == (page_entries_info entries, entry_name: entry_name.singularize).capitalize
nav
  ul.pager
    li.previous == link_to_previous_page entries, 'Prev', remote: remote
    li.next == link_to_next_page entries, 'Next', remote: remote