- if errors.any?
  .alert.alert-dismissible.alert-danger
    button.close[type="button" data-dismiss="alert"]
      span[aria-hidden="true"] ×
      span.sr-only Close
    - errors.each do |text|
      - if text.is_a?(String)
      = text
      br