= navbar static: :top do
  = navbar_header brand: "#{image_tag('logo.png')}Switter", brand_link: root_url
  = navbar_collapse do
    = navbar_group id: 'menu' do
      = navbar_item 'Feed', posts_path
      = navbar_item 'Users', users_path
    == render '/layouts/user_menu'