= navbar_group id: 'user-menu', align: 'right' do
  - if user_signed_in?
    = navbar_item edit_user_registration_path, id: 'navbar-profile' do
      - if current_user.avatar.thumb.url.present?
        = image_tag current_user.avatar.thumb.url, class: 'img-rounded'
      = current_user.email
    = navbar_item 'Sign Out', destroy_user_session_path, {}, {:'data-method' => :delete}
  - else
    = navbar_item 'Register', new_user_registration_path, {}, {'data-no-turbolink' => true}
    = navbar_item 'Sign In', new_user_session_path