doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title = content_for?(:title) ? yield(:title) : 'Switter'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Switter'}"
    = favicon_link_tag '/favicon.png'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body[class=@body_class]
    header
      == render 'layouts/navigation'
    .container
      main[role="main"]
        #messages
          == render 'layouts/messages'
        #content
          == yield :content if content_for? :content
          == yield
